<ion-header>
  <ion-toolbar>
    <ion-title>
      Add
    </ion-title>
    <ion-buttons start>
      <button (click)="dismiss()">
        <span primary showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="add">
  <div class="tabs">
    <div class="tab" (click)="updateType({type: 0})" [ngClass]="{active: type==0}">
      <a class="tab-item" ui-sref="tabs.about.page1">
        <ion-icon ios="ios-cube" md="ios-cube-outline"></ion-icon> Object
      </a>
    </div>
    <div class="tab" (click)="updateType({type: 1})" [ngClass]="{active: type==1}">
      <a class="tab-item" ui-sref="tabs.about.page2">
        <ion-icon ios="ios-man" md="ios-man-outline"></ion-icon> Person
      </a>
    </div>
  </div>
  <ion-list>
    <div *ngIf="type == 0">
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="object.genericName"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="type == 1">
      <ion-item>
        <ion-label floating>Firstname</ion-label>
        <ion-input type="text" [(ngModel)]="object.firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Lastname</ion-label>
        <ion-input type="text" [(ngModel)]="object.lastName"></ion-input>
      </ion-item>
    </div>

    <ion-item class="add-location">
      <ion-label floating>Location</ion-label>
      <ion-input *ngIf="object.mapDrawings.length <= 0" #autocomplete class="autocomplete" [(ngModel)]="object.location" (focus)="geolocate()"></ion-input>
      <ion-input *ngIf="object.mapDrawings.length > 0" class="autocomplete" value="Location set on map" disabled (focus)="geolocate()"></ion-input>

    </ion-item>
    <div *ngIf="object.mapDrawings.length > 0" class="erase" (click)="removeMapDrawings()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="add-location-map">
      <br>or
      <button ion-button color="light" outline (click)="drawOnMap()"><ion-icon name="map"></ion-icon></button>
    </div>


    <ion-item>
      <p>Images</p>

      <a class="image-placeholder" #fileInput (click)="insertImage({image: 0})" [ngClass]="{error: imageErrors[0] === 'fail'}">
        <ion-icon *ngIf="imageErrors[0] !== 'ok'" name="image"></ion-icon>
        <ion-icon *ngIf="imageErrors[0] === 'ok'" name="close-circle" class="close" (click)="removeImage(0)"></ion-icon>
      </a>
      <a #fileInput class="image-placeholder" (click)="insertImage({image: 1})" [ngClass]="{error: imageErrors[1] === 'fail'}">
        <ion-icon *ngIf="imageErrors[1] !== 'ok'" name="image"></ion-icon>
        <ion-icon *ngIf="imageErrors[1] === 'ok'" name="close-circle" class="close" (click)="removeImage(1)"></ion-icon>
      </a>
      <br/>

      <a #fileInput class="image-placeholder" (click)="insertImage({image: 2})" [ngClass]="{error: imageErrors[2] === 'fail'}">
        <ion-icon *ngIf="imageErrors[2] !== 'ok'" name="image"></ion-icon>
        <ion-icon *ngIf="imageErrors[2] === 'ok'" name="close-circle" class="close" (click)="removeImage(2)"></ion-icon>
      </a>
      <a #fileInput class="image-placeholder" (click)="insertImage({image: 3})" [ngClass]="{error: imageErrors[3] === 'fail'}">
        <ion-icon *ngIf="imageErrors[3] !== 'ok'" name="image"></ion-icon>
        <ion-icon *ngIf="imageErrors[3] === 'ok'" name="close-circle" class="close" (click)="removeImage(3)"></ion-icon>
      </a>

      <input type="file" #files style="display: none" (change)="uploadImage($event)">
      <input #files type="file" style="display: none" (change)="uploadImage($event)">
      <input #files type="file" style="display: none" (change)="uploadImage($event)">
      <input #files type="file" style="display: none" (change)="uploadImage($event)">
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="object.description"></ion-input>
    </ion-item>
  </ion-list>

  <button block (click)="addObject()">Add</button>

</ion-content>
